body {
    background-color: rgb(52, 45, 45);
    color: white;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 100vh; /* Full viewport height */
    margin: 0; /* Removes default margin */
}
.centered-text{
    font-size: large;
    color: rgb(255, 255, 255);
}
.centered-container {
    display: flex;
    flex-direction: column; /* Stacks children vertically */
    align-items: center; /* Centers items horizontally */
}
#counterDisplay{
    font-size: 75px;
}
.my-button {
    background-color: rgb(255, 255, 255);
    font-size: large;
    margin-top: 20px;
    margin-bottom: 10px; 
    height: 45px;
    width: 120px;
    border-radius: 15px;
    transition: background-color 0.2s ease-in-out;
}
.my-button:hover{
    background-color: rgb(200, 200, 200);
}